
{% extends 'DealCom/Content.html'%}
    <main >
        {% block content %}
           {% load static %}
                <div class="container-product">
                    <div class="image">
                        <img src="{% static '/2021-11-04.png'%}">
                    </div>
                    <div class="details">
                        <h2>Black label</h2>
                        <div class="information">
                            <p>Erreur de connexion Désolé, votre nom d'utilisateur ou votre mot de passe est erroné et si vous n'avez pas de compte, veuillez d'abord en acheter!Erreur de connexion Désolé, votre nom d'utilisateur ou votre mot de passe est erroné et si vous n'avez pas de compte, veuillez d'abord en acheter!</p>
                        </div>
                        <div class="btn-price">
                            <button><a href="#">Aller a la page</a></button>
                        </div>
                    </div>
                </div>
        {% endblock %}
    </main>
    
</body>
</html>